{% extends "learning_logs/base.html" %}
{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class='tile is-vertical'>
            <article class="tile is-child">

            </article>
            
            <article class="tile is-child">
                <div class="content"> 
                    <h1>Edit entry:</h1>
                    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
                        {% csrf_token %}
                        <ul>
                            {{ form.as_ul }}
                        </ul>
                        <button class="button" name="submit">save changes</button>
                    </form>
                </div>
                <div class="content">
                    <p><a role="button" class="button is-dark" href="{% url 'learning_logs:topic' topic.id %}">return to {{ topic }}</a></p>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock content %}